---
const { text } = Astro.props;
---

<div
  class="flex w-full items-center h-16 border-b border-s-hint border-hint bg-white pl-2"
>
  <div class="relative flex items-center justify-center">
    <input
      type="checkbox"
      id="dropdown"
      checked="true"
      class="flex items-center justify-center relative peer shrink-0 appearance-none w-9 h-9"
    />
    <svg
      class="absolute w-5 h-5 text-hint peer-checked:rotate-180 pointer-events-none transition-all"
      xmlns="http://www.w3.org/2000/svg"
      width="1em"
      height="1em"
      viewBox="5.5 5.5 13 13"
      ><path
        fill="currentColor"
        d="m12 13.171l4.95-4.95l1.414 1.415L12 16L5.636 9.636L7.05 8.222z"
      ></path></svg
    >
  </div>
  <input
    type="text"
    autocomplete="off"
    placeholder={text}
    id="newTask"
    class="flex items-center ml-2.5 font-semibold text-general text-2xl placeholder:text-hint h-full w-full outline-none"
  />
</div>

<script src="./Dropdown.js"></script>
