---
const { intemsLeft } = Astro.props;
---

<div
  class="flex w-full bg-white h-10 items-center justify-between flex-row text-xs text-statusbar p-1.5"
>
  <p class="flex">{intemsLeft} items left</p>
  <div class="flex items-center justify-between w-1/4">
    <button id="showAll">All</button>
    <button id="showActive">Active</button>
    <button id="showCompleted">Completed</button>
  </div>
  <button class="flex underline">Clear Completed</button>
</div>

<script src="./CardFooter.js"></script>
